* {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  !important
}
body{
	background-color:rgb(40, 40, 40) !important;
}
html {
	background-color: rgb(40, 40, 40);
	margin-left: 15%;
	margin-right: 15%;
}

.nav-item {
	padding-left: 10px;
}

.block {
	margin-top: 7%;
	margin-bottom: 1%;
	background-color: rgb(40, 40, 40) !important;
}

.section-title h2 {
	border-bottom: 1px solid rgba(0, 0, 0, .15);
	margin-bottom: 25px;
	font-weight: 700;
	font-size: 1.4rem;
	margin-bottom: 27px;
}

.section-title span {
	border-bottom: 1px solid rgba(0, 0, 0, .44);
	display: inline-block;
	padding-bottom: 20px;
	margin-bottom: -1px;
}

.card {
	border: 0px !important;
	background-color: rgb(55, 55, 55) !important;
	border-radius: 15px !important;
	box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
	
}

.card-img-top {
	border-top-left-radius: 15px !important;
	border-top-right-radius: 15px !important;
}

.card:hover {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;

	-webkit-transform: scale(.97, .97);
	transform: scale(.97, .97);
	transition: transform .2s;
}

.card:hover .card-title {
	color: rgb(165, 165, 165)
}

.card:hover .card-text{
	color: rgb(135, 135, 135)
}

.col{
	background-color:rgb(40, 40, 40) !important;
}
.article {

	background-color: rgb(40, 40, 40);
}

h1 {
	background-color: rgb(40, 40, 40) !important;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
	margin-bottom: 3% !important;
	font-weight: 700 !important;
	color: rgb(230, 230, 230);
	margin-top: 7% !important;
}

.badge.bg-secondary {
	float: left;
	margin-right: 1%;
	font-size: 15px;
	padding: 9px;
	background-color: #497bff !important;
	color: rgb(255, 255, 255) !important;
	border-radius: 10px;
	margin-bottom: 0.5vh;
}

.btn-outline-secondary{
	--bs-btn-color:#497bff !important;
	--bs-btn-border-color:#497bff !important;
	--bs-btn-hover-bg:#497bff !important;
	--bs-btn-hover-border-color:#497bff !important;
	--bs-btn-active-bg:#497bff !important;
	--bs-btn-disabled-color:#497bff !important;
	--bs-btn-disabled-border-color:#497bff !important;
	--bs-btn-focus-shadow-rgb:0,70,255 !important
}

.dropdown-item{
	--bs-dropdown-link-active-bg:#497bff !important
}

.badge.bg-secondary:hover {
	background-color: rgb(158, 158, 158) !important;
	cursor:pointer

}

pre {
	page-break-inside: avoid;
	display: block;
	margin-top: 0;
	margin-bottom: 1rem;
	font-family: Consolas !important;
	font-size: 15px !important;
}

.javascript.hljs.language-javascript, .python.hljs.language-python{
	background-color: rgb(55, 55, 55) !important;
	color:rgb(200, 200, 200)
}

.text{
	color:rgb(200,200,200) !important
}

.hljs-keyword,
.hljs-string,
.hljs-number,
.hljs-attr,
.hljs-property,
.hljs-title.class_,
.hljs-variable.language_,
.hljs-subst,
.hljs-built_in,
.hljs-meta,
.hljs-title.function_,
.hljs-params,
.hljs-literal {
	font-family: Consolas !important;
	font-size: 15px;
	
}
.hljs-keyword{
	color:#497bff !important
}

pre code {
	font-family: monospace !important;
	max-height: 80vh;
	border-radius: 5px !important;
}

pre code::-webkit-scrollbar {
	width: 20px;
}

pre code::-webkit-scrollbar-track {
	background-color: transparent;
}

pre code::-webkit-scrollbar-thumb {
	background-color: #fafafa;
}


pre code::-webkit-scrollbar-thumb {
	background-color: #d6dee1;
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
}

pre code::-webkit-scrollbar-thumb:hover {
	background-color: #a8bbbf;
}

pre code::-webkit-scrollbar-thumb:hover{
	background-color: white;
}



p {
	float: none !important
}

.card-title {
	font-weight: 700;
	color: rgb(230, 230, 230);
}

.card-text {
	font-size: 15px;
	color: rgb(150, 150, 150)
}

.navbar.fixed-top {
	background-color: rgba(255, 255, 255, 0.9) !important;
}

.python.hljs.language-python {
	font-size: 15px;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
	border:1px solid rgb(46, 46, 46) !important;
	background-color: rgba(0, 0, 0, 0.7);
	padding:1vh !important;
	width:32% !important;
	height: 9% !important;
}
.nav-item.dropdown:active{
	pointer-events:none !important
}

@media only screen and (max-width: 992px) {
	.nav-item.dropdown:active{
		pointer-events:all !important
	}
	}
.dropdown-menu.show:active{
	border: 0px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.d-inline-block.align-text-top{
	width:24px;
    display:block;
}




#logo
  {
    cursor:pointer;
  }

.navbar{
	left:13% !important;
	right:13% !important;
	}



@media only screen and (max-width: 900px) {
	h1{
		margin-top:15% !important
	}
	html {
		background-color: rgb(40, 40, 40);
		margin-left: 5%;
		margin-right: 5%;
	}
	.navbar{
		left:5% !important;
		right:5% !important;
		}
	}

@media only screen and (max-width: 480px) {
	h1{
		margin-top:25% !important
	}
	html {
		background-color: rgb(40, 40, 40);
		margin-left: 6%;
		margin-right:6%;
	}
	.navbar{
		left:0% !important;
		right:0% !important;
		}
  }




.navbar.navbar-expand-lg.fixed-top {
	border-radius:2px !important;
    transition: all 0.25s linear;
}

.navbar.navbar-expand-lg.fixed-top.active {
	box-shadow: 0 0.5rem 0.5rem -0.5rem rgba(0, 0, 0) !important
}

::-webkit-scrollbar-corner {
	/*
	background-image: url(resources/corner.png);
	background-repeat: no-repeat;
	*/
	display:none
	}

.nav-link.dropdown-toggle:hover{
	color:rgb(255, 255, 255) !important
}


.pb-2.border-bottom{
	color:rgb(218, 218, 219) !important;
}

p{
	color:rgb(200, 200, 200);
}

a#link{
	--bs-link-color:#497bff !important
}

     .nav-link, .nav-link.active{
     color:rgb(218, 218, 219) !important;
     font-weight: 600;
     font-size: 15px;
     }
     .dropdown:hover .dropdown-menu {
     display: block;
     border: 0px;
     box-shadow: rgba(0, 0, 0, 1) 1.95px 1.95px 2.6px;
     pointer-events: all !important;
     background-color: rgb(46, 46, 51);
     }


.dropdown-item{
   color:rgb(218, 218, 219)
}
.nav-item.dropdown:hover > .nav-link.dropdown-toggle::after{
   transform: rotate(225deg);
}
.nav-link.dropdown-toggle:after {
  transition: 0.2s;
}





.dropdown-toggle::after {
   display: inline-block;
  width: 0.7vh;
  height: 0.7vh;
  border: .3em solid;
  border-width: 0 .15em .15em 0;
  transform: rotateZ(220)
}

.dropdown-toggle::after {
  transform: rotate(45deg); 
}

.navbar.navbar-dark.navbar-expand-lg.fixed-top{
   background-color:rgb(40, 40, 40) !important;
}