* {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  !important
}
body{
	background-color:#F5F5F5 !important;
}
html {
	background-color: #F5F5F5;
	margin-left: 15%;
	margin-right: 15%;
}


.block {
	margin-top: 7%;
	margin-bottom: 1%;
	background-color: #F5F5F5 !important;
}

.section-title h2 {
	border-bottom: 1px solid rgba(0, 0, 0, .15);
	margin-bottom: 25px;
	font-weight: 700;
	font-size: 1.4rem;
	margin-bottom: 27px;
}

.section-title span {
	border-bottom: 1px solid rgba(0, 0, 0, .44);
	display: inline-block;
	padding-bottom: 20px;
	margin-bottom: -1px;
}

.card {
	border: 0px !important;
	background-color: #F9f9f9 !important;
	border-radius: 15px !important;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px !important;
	
}

.card-img-top {
	border-top-left-radius: 15px !important;
	border-top-right-radius: 15px !important;
}

.card:hover {
	-webkit-transform: scale(.97, .97);
	transform: scale(.97, .97);
	transition: transform .2s;
}

.card:hover .card-title {
	color: #212121
}

.card:hover .card-text{
	color: #757575
}

.col{
	background-color:#F5F5F5 !important;
}
.article {

	background-color: #F5F5F5;
}

h1 {
	background-color: #F5F5F5 !important;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
	margin-bottom: 3% !important;
	font-weight: 700 !important;
	color: #212121;
	margin-top: 7% !important;
}

.badge.bg-secondary {
	float: left;
	margin-right: 1%;
	font-size: 15px;
	padding: 9px;
	background-color: #497bff !important;
	color: rgb(255, 255, 255) !important;
	border-radius: 10px;
	margin-bottom: 0.5vh;
}

.btn-outline-secondary{
	--bs-btn-color:#497bff !important;
	--bs-btn-border-color:#497bff !important;
	--bs-btn-hover-bg:#497bff !important;
	--bs-btn-hover-border-color:#497bff !important;
	--bs-btn-active-bg:#497bff !important;
	--bs-btn-disabled-color:#497bff !important;
	--bs-btn-disabled-border-color:#497bff !important;
	--bs-btn-focus-shadow-rgb:0,70,255 !important
}

.dropdown-item{
	--bs-dropdown-link-active-bg:#497bff !important
}

.badge.bg-secondary:hover {
	background-color: rgb(158, 158, 158) !important;
	cursor:pointer

}

pre {
	page-break-inside: avoid;
	display: block;
	margin-top: 0;
	margin-bottom: 1rem;
	font-family: Consolas !important;
	font-size: 15px !important;
	    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px !important;

}

.javascript.hljs.language-javascript, .python.hljs.language-python{
	background-color: #F9f9f9 !important;
	color:#212121
	
}

.text{
	color:#212121 !important
}

.hljs-keyword,
.hljs-string,
.hljs-number,
.hljs-attr,
.hljs-property,
.hljs-title.class_,
.hljs-variable.language_,
.hljs-subst,
.hljs-built_in,
.hljs-meta,
.hljs-title.function_,
.hljs-params,
.hljs-literal {
	font-family: Consolas !important;
	font-size: 15px;
	
}
.hljs-keyword{
	color:#497bff !important
}

pre code {
	font-family: monospace !important;
	max-height: 80vh;
	border-radius: 5px !important;
}

pre code::-webkit-scrollbar {
	width: 20px;
}

pre code::-webkit-scrollbar-track {
	background-color: transparent;
}

pre code::-webkit-scrollbar-thumb {
	background-color: #fafafa;
}


pre code::-webkit-scrollbar-thumb {
	background-color: #d6dee1;
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
}

pre code::-webkit-scrollbar-thumb:hover {
	background-color: #a8bbbf;
}

pre code::-webkit-scrollbar-thumb:hover{
	background-color: #497bff;
}



p {
	float: none !important
}

.card-title {
	font-weight: 700;
	color: #212121;
}

.card-text {
	font-size: 15px;
	color: #757575
}

.navbar.fixed-top {
	background-color: #F5F5F5 !important;
}

.python.hljs.language-python {
	font-size: 15px;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
	border:1px solid rgb(46, 46, 46) !important;
	background-color: rgba(0, 0, 0, 0.7);
	padding:1vh !important;
	width:32% !important;
	height: 9% !important;
}
.nav-item.dropdown:active{
	pointer-events:none !important
}

@media only screen and (max-width: 992px) {
	.nav-item.dropdown:active{
		pointer-events:all !important
	}
	}
.dropdown-menu.show:active{
	border: 0px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.d-inline-block.align-text-top{
	width:24px;
    display:block;
}




#logo
  {
    cursor:pointer;
  }

.navbar{
	left:13% !important;
	right:13% !important;
	}



@media only screen and (max-width: 900px) {
	h1{
		margin-top:15% !important
	}
	html {
		background-color: #F5F5F5;
		margin-left: 5%;
		margin-right: 5%;
	}
	.navbar{
		left:5% !important;
		right:5% !important;
		}
	}

@media only screen and (max-width: 480px) {
	h1{
		margin-top:25% !important
	}
	html {
		background-color: #F5F5F5;
		margin-left: 6%;
		margin-right:6%;
	}
	.navbar{
		left:0% !important;
		right:0% !important;
		}
  }




.navbar.navbar-expand-lg.fixed-top {
	border-radius:2px !important;
    transition: all 0.15s linear;
}

.navbar.navbar-expand-lg.fixed-top.active {
	box-shadow: 0 0.5rem 0.5rem -0.5rem rgb(134, 134, 134) !important
}

::-webkit-scrollbar-corner {

	display:none
	}

.nav-link.dropdown-toggle:hover{
	color:#000000 !important
}

.hljs-string{
	color:rgb(56, 179, 58) !important
}
.pb-2.border-bottom{
	color:#212121 !important;
	font-weight: 700;
}

p{
	color:#212121;
}

a#link{
	--bs-link-color:#497bff !important
}

.nav-link, .nav-link.active{
	color:#484848!important;
	font-weight: 600;
	font-size: 15px;
	}
	.dropdown:hover .dropdown-menu {
	display: block;
	border: 0px;
	    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px !important;
	pointer-events: all !important;
	background-color: #F9f9f9;
	}


.dropdown-item{
  color:#212121
}
.nav-item.dropdown:hover > .nav-link.dropdown-toggle::after{
  transform: rotate(225deg);
}
.nav-link.dropdown-toggle:after {
 transition: 0.2s;
}



.dropdown-item{
	letter-spacing: 0px !important;
}

.dropdown-toggle::after {
  display: inline-block;
 width: 0.7vh;
 height: 0.7vh;
 border: .3em solid;
 border-width: 0 .15em .15em 0;
 transform: rotateZ(220)
}

.dropdown-toggle::after {
 transform: rotate(45deg); 
}

.navbar.navbar-dark.navbar-expand-lg.fixed-top{
  background-color:#F5F5F5 !important;
}

.nav-item, .nav-item-dropdown{
	letter-spacing: 1px;
}