* {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,sans-serif !important;
	font-weight: 400;
	letter-spacing: .4;
}

body {
	background-color: #ffffff !important;
}

html {
	background-color: #ffffff;
	margin-left: 15%;
	margin-right: 15%;
}


.block {
	margin-top: 7%;
	margin-bottom: 1%;
	background-color: #ffffff !important;
}

.section-title h2 {
	border-bottom: 1px solid rgba(0, 0, 0, .15);
	margin-bottom: 25px;
	font-weight: 700;
	font-size: 1.4rem;
	margin-bottom: 27px;
}

.section-title span {
	border-bottom: 1px solid rgba(0, 0, 0, .44);
	display: inline-block;
	padding-bottom: 20px;
	margin-bottom: -1px;
}

.card {
	border: 0px #eef2f7 !important;
	background-color: #ffffff !important;
	border-radius: 3vh !important;
	box-shadow: 0 0.375rem 0.75rem rgba(0, 0, 0, 0.05) !important;
	transition: transform .3s, box-shadow .3s, background-color .3s, color .3s;
}

.card-img-top {
	border-top-left-radius: 3vh !important;
	border-top-right-radius: 3vh !important;
	max-height: 30vh;
}

.card:hover {

	box-shadow: 0 0.375rem 0.75rem rgba(0,0,0, 0.2) !important;
}



.card:hover .card-text {
	color: #3c4043
}

.col {
	background-color: #ffffff !important;
}

.article {

	background-color: #ffffff;
}

h1 {
	background-color: #ffffff !important;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
	font-weight: 700 !important;
	color: #3c4043;
	margin-top: 7% !important;
	letter-spacing: 1px;
}

.badge.bg-secondary {
	float: left;
	margin-right: 1%;
	font-size: 15px;
	padding: 9px;
	background-color: #ffffff !important;
	border: 1px solid #22449c;
	color: #5f6368 !important;
	border-radius: 33px;
	margin-bottom: 0.5vh;
	font-weight: 500 !important;
	transition: all .2s;
}

.btn-outline-secondary {
	--bs-btn-color: #22449c !important;
	--bs-btn-border-color: #22449c !important;
	--bs-btn-hover-bg: #22449c !important;
	--bs-btn-hover-border-color: #22449c !important;
	--bs-btn-active-bg: #22449c !important;
	--bs-btn-disabled-color: #22449c !important;
	--bs-btn-disabled-border-color: #22449c !important;
	--bs-btn-focus-shadow-rgb: 0, 70, 255 !important
}

.dropdown-item {
	--bs-dropdown-link-active-bg: rgba(0, 0, 0, 0) !important
}

.badge.bg-secondary:hover {
	background-color: #22449c !important;
	color:white !important;
	cursor: pointer
}

pre {
	page-break-inside: avoid;
	display: block;
	margin-top: 0;
	margin-bottom: 1rem;
	font-family: Consolas !important;
	font-size: 15px !important;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px;
}

.javascript.hljs.language-javascript,
.python.hljs.language-python {
	background-color: #ffffff !important;
	color: #3c4043
}

.text {
	color: #3c4043 !important;
	font-size: 200px !important
}

.hljs-keyword,
.hljs-string,
.hljs-number,
.hljs-attr,
.hljs-property,
.hljs-title.class_,
.hljs-variable.language_,
.hljs-subst,
.hljs-built_in,
.hljs-meta,
.hljs-title.function_,
.hljs-params,
.hljs-literal {
	font-family: Consolas !important;
	font-size: 15px;

}

.hljs-keyword {
	color: #22449c !important
}

pre code {
	font-family: monospace !important;
	max-height: 80vh;
	border-radius: 0.7vh !important;
}

pre code::-webkit-scrollbar {
	width: 20px;
}

pre code::-webkit-scrollbar-track {
	background-color: transparent;
}

pre code::-webkit-scrollbar-thumb {
	background-color: #fafafa;
}


pre code::-webkit-scrollbar-thumb {
	background-color: #d6dee1;
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
}

pre code::-webkit-scrollbar-thumb:hover {
	background-color: #a8bbbf;
}

pre code::-webkit-scrollbar-thumb:hover {
	background-color: #22449c;
}


p {
	float: none !important
}

.card-title {
	color: #22449c;
	padding:1vh;
	padding-bottom: 0.2vh;
}

.card-text {
	transition: color .3s;	
	font-size: 15px;
	color: #3c4043;
	padding:1vh
}

.navbar.fixed-top {
	background-color: #ffffff !important;
	box-shadow: 0 0.5rem 0.5rem -0.5rem rgb(0 0 0 / 20%) !important
}

.python.hljs.language-python {
	font-size: 15px;
}


.nav-item.dropdown:active {
	pointer-events: none !important
}

@media only screen and (max-width: 992px) {
	.nav-item.dropdown:active {
		pointer-events: all !important
	}
}

.dropdown-menu.show:active {
	border: 0px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
}

.d-inline-block.align-text-top {
	width: 24px;
	display: block;
}


#logo {
	cursor: pointer;
}

#logo{
	margin-left:14% !important;
	position: absolute;
}



@media only screen and (max-width: 900px) {
	h1 {
		margin-top: 15% !important
	}

	html {
		background-color: #ffffff;

	}


}

.titre {
	margin-top: 10vh;
}
.navbar-expand-lg{
	height:6.5vh
}

@media only screen and (max-width: 766px) {
	.card-img-top {
		border-top-left-radius: .50rem !important;
		border-top-right-radius: .50rem !important;
		max-height: 60vh;
	}
	.navbar-toggler-icon {
		height:20px;
		width:20px
	  }
	
	html {
		background-color: #ffffff;
		margin-left: 15%;
		margin-right: 15%;
	}
	.titre{
		margin-bottom: 10% !important;
	}

}

@media only screen and (max-width: 985px) {

	.navbar-toggler-icon {
		height:25px;
		width:25px
	  }
	  .navbar-toggler {
		width:50px
	  }

}

@media only screen and (max-width: 480px) {
	h1 {
		margin-top: 25% !important
	}

	html {
		background-color: #ffffff;
		margin-left: 6%;
		margin-right: 6%;
	}


	.titre{
		margin-bottom: 15% !important;
	}
}


.navbar.navbar-expand-lg.fixed-top {
	border-radius: 2px !important;
	transition: .3s linear;
}

.navbar.navbar-expand-lg.fixed-top.active {
	box-shadow: 0 0.5rem 0.5rem -0.5rem rgb(0 0 0 / 20%) !important
}

::-webkit-scrollbar-corner {

	display: none
}

.nav-link.dropdown-toggle:hover {
	color: black !important
}

.hljs-string {
	color: #83bd2d !important;
	font-weight: 500 !important;
}

.pb-2.border-bottom {
	color: #3c4043 !important;
	font-weight: 700;
	letter-spacing: 2px;
}

p {
	color: #3c4043;
}

a#link {
	--bs-link-color: #22449c !important;
}

.nav-link,
.nav-link.active {
	color: #3c4043 !important;
	font-weight: 600;
	font-size: 16px;
}

.dropdown:hover .dropdown-menu {
	display: block;
	border: 1px solid rgba(120, 120, 120, 0.05);
	box-shadow: 0 0.375rem 0.75rem rgba(0,0,0, 0.1) !important;
	pointer-events: all !important;
	background-color: #ffffff;
	line-height: 25px;
	padding: 1vh;
	border-radius: 0.7vh;
}


.dropdown-item {
	color: #3c4043;
	border-radius: 0.5vh;
	transition: font-weight .05s linear, color .05s linear;

}

.dropdown-item:hover {
	color: #3c4043;
	font-weight: 700;

}

.nav-item.dropdown:hover>.nav-link.dropdown-toggle::after {
	transform: rotate(225deg);
}

.nav-link.dropdown-toggle:after {
	transition: 0.2s;
}


.dropdown-item {
	letter-spacing: 0px !important;
}

.dropdown-toggle::after {
	display: inline-block;
	width: 0.7vh;
	height: 0.7vh;
	border: .3em solid;
	border-width: 0 .15em .15em 0;
	transform: rotateZ(220)
}

.dropdown-toggle::after {
	transform: rotate(45deg);
}

.navbar.navbar-dark.navbar-expand-lg.fixed-top {
	background-color: #ffffff !important;
	height:10%
}

.nav-item,
.nav-item-dropdown {
	letter-spacing: 1px;
	font-size: 20px !important;
}

.dropdown-menu {
	--bs-dropdown-link-hover-bg: rgba(0, 0, 0, 0);
}

li {
	color: #3c4043 !important
}

#spin {
	margin-top: -30vh !important;
	color: #3c4043 !important
}

#spintext {
	margin-top: -25vh !important;
	color: #3c4043 !important
}

.textaire {
	background-color: #ffffff;
	padding: 1rem;
	border-radius: 0.7vh;
	margin-bottom: 2vh;

}


ul {
	margin-bottom: 0px !important;
}

#oui {
	margin-bottom: 1.5vh;
	margin-top: -1.5% !important;
	margin-left: 5vh;
	font-weight: 500;
	color:#343434 !important
}

#resume {
	color: #343434
}

html::-webkit-scrollbar-track {
	background-color: #ffffff;
}

html::-webkit-scrollbar {
	width: 8px;
	background-color: #5c5c5c;

}

html::-webkit-scrollbar-thumb {
	background-color: #5c5c5c;
	border-radius: 0.7vh !important;

}

html::-webkit-scrollbar-thumb:hover {
	background-color: #adadad;

}

.navbar-toggler{
	border-radius: 0.7vh;
	max-width: 60px;
	border:0.1px solid #cdcdcd;
}



.navbar-toggler-icon {
	background-image: none;
  }
  .navbar-toggler-icon {
	background-image: url('image/bars.png');

  }

  .navbar-toggler:focus{
	box-shadow: rgba(163, 163, 163, 0.16) 0px 1px 4px, rgba(163, 163, 163, 0.16) 0px 0px 0px 1px;
  }

  #test{
	color:#3c4043 !important

  }

  .legend {
	box-shadow: rgba(0,0,0, 0.5) 1.95px 1.95px 2.6px;
padding: 6px 8px;
font: 14px Segoe UI;
background: #ffffff;
line-height: 24px;
color: rgb(46, 46, 51);
border-radius: 0.7vh;
}

.container-fluid{
	background-color: #ffffff  !important;
	
}
.navbar.navbar-dark.bg-dark{
   background-color: #ffffff  !important;
}
.navbar-brand{
	color:#3c4043 !important
 }
